@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;600&family=Montserrat:wght@700&family=Playfair+Display&family=Roboto:wght@300;400&family=Teko:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #221618;
    color: rgb(232, 232, 232);
}
html {
    font-family: inter, sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: hwb(26 84% 14% / 0.978);
}

.github {
    color: #FFF2E7;
    font-weight: 600px;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    background: #221618;
    max-width: 1120px;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.hero-conteudo {

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.destaque {
    font-family: epilogue;
    font-size: 1rem; 
    font-weight: 500;
    text-transform: uppercase;  
    color: #E7A80E;   
}

.marron {
    color: #a45a49;
}

.amarelo {
    color: #E7A80E;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.hero-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 5px;
    margin: 5px;
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.principal .nav {
    background: #221618
}

.botao-container {
    width: 80%;
    max-width: 1055px;   
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.2rem;
    background: #A45A49;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding:  3rem 2rem;
    margin: auto;
}

.receitas-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.receitas-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-container {
    flex-wrap: wrap;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.receitas-card {
    background: rgba(50, 37, 31, 0.324);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
} 

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes {
    flex-direction: column;
    
}

.receita-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.receita-avaliacao {
    color: #756A67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao {
    color: #C7BAB3;
    font-family: Inter;
    font-size: rem;
    font-weight: 400;
}

.receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img {
    border-radius: 20rem;
    width: 1.5rem;

}

.receita-autor-nome {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    }

footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #16090c47;
}

.footer-copy {
    color: #fff2e75d;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500; 
}

.footer-autor {
    color: #fff2e74f;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}


